* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #181818;
}

.titulos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 500px;
}

.h1 {
    color: white;
    padding-top: 20px;
}

.highlightedText {
    color: #ff0038;
}